.inputSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

#user-task {
    margin-top: 10px;
}

.subBtn{
    margin-top:10px;
}

.del-icon-style{
    width:10px;
    height:50px;
}