*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.galleryContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    margin:10px;
}
.videoContainer{
    margin:10px;
    height: 15rem;
    width: 20rem;
    background-color: green;
}
.video{
    object-fit: fill;
}