/* React CSS - External File */
/* We need to link import "./App.css"; at component.js file */
.header{
    color: red; 
    font-size: 52px;
    background-color: blue;
    padding: 32px;
    border: 10px dashed black; 
}